.cardsDiv {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.rightArrowDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  top: 200px;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.leftArrowDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 200px;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .cardsDiv {
    max-width: 1400px;
    margin: 60px auto 0px auto;
  }
}
@media screen and (max-width: 1240px) and (min-width: 950px) {
  .cardsDiv {
    column-gap: 20px;
  }
  .rightArrowDiv {
    top: 150px;
  }
  .leftArrowDiv {
    top: 150px;
  }
}
@media screen and (min-width: 600px) and (max-width: 950px) {
  .cardsDiv {
    margin-top: 40px;
    column-gap: 40px;
  }
  .rightArrowDiv {
    top: 150px;
  }
  .leftArrowDiv {
    top: 150px;
  }
}
@media screen and (max-width: 600px) {
  .cardsDiv {
    margin-top: 40px;
    padding: 0px 0px 50px 0px;
  }
  .rightArrowDiv {
    right: 34%;
    top: 92%;
  }
  .leftArrowDiv {
    left: 34%;
    top: 92%;
  }
}
