.openAccordion {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  position: relative;
  border: 2px solid #262626;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  height: 160px;
  padding: 10px 0px 10px 0px;
  font-family: "Outfit", sans-serif;
  transition: 0.3s ease;
}
.closeAccordion {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  position: relative;
  border: 2px solid #262626;
  border-radius: 8px;
  width: 100%;
  height: 80px;
  padding: 10px 0px 10px 0px;
  font-family: "Outfit", sans-serif;
  background-color: #ffefe5;
  transition: 0.3s ease;
  max-height: 1000px;
}
.closeAnswer {
  display: none;
}
.openBtnDisplayNone {
  display: none;
}
.closeBtnDisplayNone {
  display: none;
}

.line {
  width: 80%;
  height: 1px;
  background-color: #262626;
  margin: 24px;
}
.titleStyle {
  font-size: 16px;
  font-weight: 600;
  margin: 0px 24px 0px 24px;
}
.answerStyle {
  font-size: 12px;
  font-weight: 500;
  margin: 0px 24px 0px 24px;
}
.openBtn {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #fff5f0;
  border: 1px solid #262626;
  outline: none;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}
.closeBtn {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #fff5f0;
  border: 1px solid #262626;
  outline: none;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}
.btnDiv {
  position: absolute;
  top: 26px;
  right: 12px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .questionsSection {
    gap: 32px;
  }
  .closeAccordion {
    padding: 0px;
    height: 60px;
  }
  .openAccordion {
    padding: 0px;
  }
  .openBtn,
  .closeBtn {
    padding: 2px;
  }
  .titleStyle {
    font-size: 12px;
  }
  .btnDiv {
    top: 20px;
  }
  .answerStyle {
    font-size: 10px;
  }
  .btnDiv {
    right: 8px;
  }
}
@media screen and (max-width: 600px) {
  .closeAccordion {
    width: 100%;
    padding: 0px;
    height: 60px;
  }
  .openAccordion {
    width: 100%;
    padding: 0px;
  }
  .openBtn,
  .closeBtn {
    padding: 2px;
  }
  .btnDiv {
    top: 20px;
  }
  .answerStyle {
    font-size: 10px;
  }
  .titleStyle {
    font-size: 12px;
    text-align: left;
  }
  .btnDiv {
    right: 4px;
  }
}
