.FeaturesSection {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 60px auto auto auto;
  font-family: "Raleway", sans-serif;
  color: #1a1a1a;
  align-items: center !important;
  justify-content: center;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .FeaturesSection {
    margin-top: 40px;
  }
  .FeaturesSection {
    gap: 30px;
  }
}
@media screen and (max-width: 600px) {
  .FeaturesSection {
    margin-top: 40px;
  }
}
