.categoryCompStyle {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: end;
  border: 2px solid #262626;
  border-radius: 8px;
  box-shadow: 4px 4px 0px #262626;
  background-color: white;
  position: relative;
  width: 100%;
  height: 270px;
  padding: 40px 115px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  color: #1a1a1a;
  font-family: "Raleway", sans-serif;
}
.description {
  font-weight: 500;
  font-size: 16px;
  color: #4c4c4d;
  margin-top: 20px;
  font-family: "Outfit", sans-serif;
}
.imgDiv {
  position: absolute;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  top: -35%;
  left: 50%;
  transform: translateX(-50%);
}
.imgStyle {
  width: 240px;
  height: 200px;
  border: 2px solid #262626;
  border-radius: 10px;
}
.titleDiv {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.rightArrowDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}
.leftArrowDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}
.arrowDiv {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .categoryCompStyle {
    height: 300px;
    padding: 40px 65px;
  }
}

@media screen and (max-width: 600px)and (min-width: 450px) {
  .categoryCompStyle {
    height: 390px;
    padding: 40px 65px;
  }
  .imgDiv {
    top: -20%;
  }
  .titleDiv {
    flex-flow: column;
  }
  .title{
    order: 1;
    margin-top: 20px;
  }
  .description{
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .categoryCompStyle {
    height: 360px;
    padding: 40px 30px;
  }
  .imgDiv {
    top: -20%;
  }
  .titleDiv {
    flex-flow: column;
  }
  .title{
    order: 1;
    margin-top: 20px;
    font-size: 16px
  }
  .description{
    text-align: center;
    font-size: 12px;
  }
}
