.studentsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 60px auto auto auto;
  font-family: "Raleway", sans-serif;
  color: #1a1a1a;
  align-items: center !important;
  justify-content: center;
}
