.boxStyle {
  border: 2px solid #262626;
  box-shadow: 4px 4px 0px #262626;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 40px;
}
.partOne {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.imgStyle {
  width: 60px;
}
.titleStyle {
  font-size: 30px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.description {
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
  font-family: "Outfit", sans-serif;
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .boxStyle {
    padding: 20px;
  }
  .titleStyle {
    font-size: 22px;
  }
  .description {
    font-size: 12px;
  }
  .imgStyle {
    width: 50px;
  }
}

@media screen and (max-width: 600px) {
  .boxStyle {
    padding: 30px;
    width: 98%;
  }
  .titleStyle {
    font-size: 18px;
  }
  .description {
    font-size: 10px;
    margin-top: 20px;
  }
  .imgStyle {
    width: 40px;
  }
}
