.sectionStyle {
  display: flex;
  flex-flow: row;
  column-gap: 40px;
  margin-top: 60px;
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .sectionStyle {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 600px) {
  .sectionStyle {
    flex-flow: column;
    padding: 0px 0px;
    row-gap: 30px;
    margin-top: 40px;
  }
}
