.MembersSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 40px;
  margin: 60px auto auto auto;
}

@media screen and (max-width: 1240px) and (min-width: 1000px) {
    .MembersSection {
        column-gap: 20px;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .MembersSection {
        column-gap: 10px;
        row-gap: 30px;
    }
}
@media screen and (max-width: 600px) {
}
