.cardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #262626;
  box-shadow: 4px 4px 0px #262626;
  border-radius: 10px;
  row-gap: 20px;
  padding: 40px 30px;
  font-family: "Outfit", sans-serif;
  height: 400px;
  width: 322px;
}
.photoStyle {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #262626;
  border-radius: 50%;
  background-color: #fff5f0;
  width: 75px;
  height: 75px;
}
.nameStyle {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
}
.descriptionStyle {
  font-size: 12px;
  text-align: center;
}
.starStyle {
  color: #ff8d4d;
}
@media screen and (max-width: 1240px) and (min-width: 950px) {
  .cardStyle {
    height: 300px;
    width: 265px;
  }
}
@media screen and (min-width: 600px) and (max-width: 950px) {
  .cardStyle {
    height: 300px;
    width: 235px;
  }
}
@media screen and (max-width: 600px) {
  .cardStyle {
    height: 350px;
  }
}
