.NavStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  border: 1px solid #262626;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-top: 20px;
  transition: 0.3s all;
  font-family: "Outfit", sans-serif;
  margin-left: 16px;
  margin-right: 16px;
}
.topNavStyle {
  top: 20px !important;
  transition: 0.2s all;
}
.UlStyleSmallTop {
  top: 72px !important;
}
.LogoStyle {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex: 2;
  background-color: #ff8d4d;
  height: 50px;
  border-radius: 8px 0px 0px 8px;
  font-size: 16px;
  border-right: 1px solid #262626;
}
.UlStyleLarg {
  display: flex;
  flex-flow: row;
  justify-content: end;
  flex: 7;
  list-style-type: none;
  margin: 0px;
  background-color: white;
}

.NavItemLarg {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-left: 1px solid #262626;
}
.active {
  background-color: #ffefe5;
}
.pending {
  background-color: white;
}
.NavItemLarg a {
  text-decoration: none;
  color: #262626;
  font-size: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
}

.ContactStyle {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #ffae80;
  height: 50px;
  border-left: 1px solid #262626;
  border-radius: 0px 8px 8px 0px;
  text-decoration: none;
  color: #262626;
  font-size: 15px;
}

.BtnNavSmall {
  display: none;
}
.LogoPhoto {
  margin-right: 5px;
}
.UlStyleSmall {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  list-style: none;
  overflow: hidden;
  background-color: #fff5f0;
  position: fixed;
  top: 122px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 0px;
  transition: 0.5s ease;
  gap: 10px;
}
.show {
  height: 100vh;
  transition: 0.5s ease;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .NavStyle {
    margin-left: 24px;
    margin-right: 24px;
  }
  .UlStyleLarg {
    flex: 5;
  }
  .LogoStyle,
  .ContactStyle {
    font-size: 12px;
  }
  .LogoPhoto {
    width: 25px;
  }
  .NavItemLarg a {
    font-size: 10px;
    width: 70px;
  }
}
@media screen and (max-width: 600px) {
  .NavStyle {
    margin-left: 16px;
    margin-right: 16px;
  }
  .NavItemLarg,
  .ContactStyle {
    display: none;
  }

  .NavItemSmall a {
    text-decoration: none;
    color: #262626;
    font-size: 15px;
  }
  .NavItemSmall {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .UlStyleLarg {
    flex: 2;
    height: 50px;
    width: 100%;
    background-color: white;
  }
  .LogoStyle {
    font-size: 12px;
    flex: 4;
  }
  .LogoPhoto {
    width: 20px;
  }

  .BtnNavSmall {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: #ffefe5;
    height: 50px;
    border-radius: 0px 8px 8px 0px;
    flex: 2;
    font-size: 22px;
    border-left: 1px solid #262626 !important;
    border: none;
  }
}
