.PagesSection {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  margin-top: 60px;
  font-family: "Raleway", sans-serif;
  color: #1a1a1a;
  align-items: center !important;
  justify-content: center;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .PagesSection {
      margin-top: 40px;
    }
    .PagesSection {
      gap: 16px;
    }
  }
  @media screen and (max-width: 600px) {
    .PagesSection {
      margin-top: 40px;
    }
  }
  