.BenefitBox {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  border: 2px solid #262626;
  border-radius: 8px;
  width: 30%;
  box-shadow: 4px 4px 0px #262626;
  background-color: white;
  height: 160px;
  position: relative;
  padding: 85px 50px;
}
.TitleStyle {
  font-size: 16px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.description {
  font-size: 12px;
  font-weight: 500;
  margin-top: 16px;
  font-family: "Outfit", sans-serif;
}
.IconStyle {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #ffdecc;
  border: 1px solid #262626;
  border-radius: 8px;
  padding: 12px;
  position: absolute;
  top: -20px;
  left: 16px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .BenefitBox {
    width: 45%;
    box-shadow: 3px 3px 0px #262626;
  }
}
@media screen and (max-width: 600px) {
  .BenefitBox {
    width: 100%;
    box-shadow: 3px 3px 0px #262626;
  }
}
